<web-app version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee">

	<display-name>Kiekebook web application</display-name>

    <!-- CORS filter config-->
    <filter>
        <filter-name>CORSFilter</filter-name>
        <filter-class>com.kiekeboo.app.filter.CORSFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--Spring filter so dependency injection can be used-->
    <filter>
        <filter-name>authorizationFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authorizationFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <!-- Servlet config-->
    <servlet>
		<servlet-name>kiekeboo</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>kiekeboo</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

    <!-- Context config -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/kiekeboo-app.xml</param-value>
    </context-param>

</web-app>